[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
google-cloud-aiplatform = "*"
ai21 = "*"
tiktoken = "*"
python-dotenv = "*"
black = "*"
llama-index = "*"
beautifulsoup4 = "*"
unstructured = "*"
faiss-cpu = "*"
langchainhub = "*"
psycopg2-binary = "*"
pgvector = "*"
streamlit = "*"
pg8000 = "*"
pypdf = "*"
requests = "*"
langchain-community = "*"

[dev-packages]

[requires]
python_version = "3.11"
